<form method="POST">
            <input type="checkbox" name="sector" value="yes" checked>
            <label>Sector 1</label>
            <img src="{{url_for('static', filename = 'test.PNG')}}" style="width:100px;height:200px;"><br>
            <input type="checkbox" name="sector" value="yes" checked>
            <label>Sector 2</label>
            <img src="{{url_for('static', filename = 'test.PNG')}}" style="width:100px;height:200px;"><br>
            <input type="checkbox" name="sector" value="yes" checked>
            <label>Sector 3</label>
            <img src="{{url_for('static', filename = 'test.PNG')}}" style="width:100px;height:200px;"><br>
            <input type="checkbox" name="sector" value="yes" checked>
            <label>Sector 4</label>
            <img src="{{url_for('static', filename = 'test.PNG')}}" style="width:100px;height:200px;"><br>
            <input type="checkbox" name="sector" value="yes" checked>
            <label>Sector 5</label>
            <img src="{{url_for('static', filename = 'test.PNG')}}" style="width:100px;height:200px;"><br>
            <input type="checkbox" name="sector" value="yes" checked>
            <label>Sector 6</label>
            <img src="{{url_for('static', filename = 'test.PNG')}}" style="width:100px;height:200px;"><br>
            <input type="checkbox" name="sector" value="yes" checked>
            <label>Sector 7</label>
            <img src="{{url_for('static', filename = 'test.PNG')}}" style="width:100px;height:200px;"><br>
            <input type="checkbox" name="sector" value="yes" checked>
            <label>Sector 8</label>
            <img src="{{url_for('static', filename = 'test.PNG')}}" style="width:100px;height:200px;"><br>
            <input type="checkbox" name="sector" value="yes" checked>
            <label>Sector 9</label>
            <img src="{{url_for('static', filename = 'test.PNG')}}" style="width:100px;height:200px;"><br>
            <input type="checkbox" name="sector" value="yes" checked>
            <label>Sector 10</label>
            <img src="{{url_for('static', filename = 'test.PNG')}}" style="width:100px;height:200px;"><br>
            <input type="checkbox" name="sector" value="yes" checked>
            <label>Sector 11</label>
            <img src="{{url_for('static', filename = 'test.PNG')}}" style="width:100px;height:200px;"><br>
            <input type="submit">
        </form>