<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your Suggested Portfolio</title>
        <style>
        img {margin: 8px;width:500px;height:300px}
        </style>
    </head>

    <body>
        <h1>Your Suggested Portfolio</h1>

        <p>The sectors you selected are
            {% for sector in sectors %} {{ sector }}
            {% endfor %}
        </p>

        <p>Your suggested Portfolio looks like this</p><br>
        <ul>
            {% for key,value in mappings.items() %}
                <li>{{ key }} : {{ value }}</li>
            {% endfor %}
        </ul>

        <img src="{{url_for('static', filename = 'backtest.jpg')}}">
    </body>

