<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your Suggested Portfolio</title>
        <style>

        </style>
    </head>

    <body>
        <h1>Your Suggested Portfolio</h1>
        <p>The sectors you selected are
            {% for sector in sectors %} {{ sector }}
            {% endfor %}
        </p>
    </body>

<p>
    your portfolio should look like this
</p>

<p>Your back testing should look like this</p>
