<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sector Forecasting</title>
        <style>
        img {margin: 5px;width:75px;height:150px}
        table {margin-left: auto;margin-right: auto;}
        </style>
    </head>

    <body>
        <h1>Sector Forecasting</h1>
        <form method="POST" action="{{ url_for('final') }}">
            <table>
                <tr>
                    <td>
                        <img src="{{url_for('static', filename = 'test.PNG')}}"><br>
                        <input type="checkbox" name="sector" value="sector1" >
                        <label>Sector 1</label>
                    </td>
                    <td>
                        <img src="{{url_for('static', filename = 'test.PNG')}}"><br>
                        <input type="checkbox" name="sector" value="sector2" >
                        <label>Sector 2</label>
                    </td>
                    <td>
                        <img src="{{url_for('static', filename = 'test.PNG')}}"><br>
                        <input type="checkbox" name="sector" value="sector3" >
                        <label>Sector 3</label>
                    </td>
                    <td>
                        <img src="{{url_for('static', filename = 'test.PNG')}}"><br>
                        <input type="checkbox" name="sector" value="sector4" >
                        <label>Sector 4</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="{{url_for('static', filename = 'test.PNG')}}"><br>
                        <input type="checkbox" name="sector" value="sector5" >
                        <label>Sector 5</label>
                    </td>
                    <td>
                        <img src="{{url_for('static', filename = 'test.PNG')}}"><br>
                        <input type="checkbox" name="sector" value="sector6" >
                        <label>Sector 6</label>
                    </td>
                    <td>
                        <img src="{{url_for('static', filename = 'test.PNG')}}"><br>
                        <input type="checkbox" name="sector" value="sector7" >
                        <label>Sector 7</label>
                    </td>
                    <td>
                        <img src="{{url_for('static', filename = 'test.PNG')}}"><br>
                        <input type="checkbox" name="sector" value="sector8" >
                        <label>Sector 8</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{url_for('static', filename = 'test.PNG')}}"><br>
                        <input type="checkbox" name="sector" value="sector9" >
                        <label>Sector 9</label>
                    </td>
                    <td>
                        <img src="{{url_for('static', filename = 'test.PNG')}}"><br>
                        <input type="checkbox" name="sector" value="sector10" >
                        <label>Sector 10</label>
                    </td>
                    <td>
                        <img src="{{url_for('static', filename = 'test.PNG')}}"><br>
                        <input type="checkbox" name="sector" value="sector11" >
                        <label>Sector 11</label>
                    </td>
                </tr>
            </table>
                <label>Your expected return</label>
                <input type="number" name="return"><br>
                <label>Number of stocks per sector</label>
                <input type="number" name="num">
                <input class = "button" type="submit">
        </form>

    </body>
</html>