<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Construct Portfolio</title>
        <style>
        h1 {text-align: center;}
        td { text-align: center; }
        img {margin: 8px;width:325px;height:325px}
        table {margin-left: auto;margin-right: auto;}
        .center{margin: auto;width: 60%;padding: 10px;width:30%}
        </style>
    </head>

    <body>
        <h1>Sector Forecasting</h1>
        <form method="POST" action="{{ url_for('final') }}">
            <table>
                <tr>
                    <td>
                        <img src="{{url_for('static', filename = 'XLB.jpg')}}"><br>
                        <input type="checkbox" name="sector" value="XLB" >
                        <label>Materials Sector</label>
                    </td>
                    <td>
                        <img src="{{url_for('static', filename = 'XLC.jpg')}}"><br>
                        <input type="checkbox" name="sector" value="XLC" >
                        <label>Communication Sector</label>
                    </td>
                    <td>
                        <img src="{{url_for('static', filename = 'XLE.jpg')}}"><br>
                        <input type="checkbox" name="sector" value="XLE" >
                        <label>Energy Sector</label>
                    </td>
                    <td>
                        <img src="{{url_for('static', filename = 'XLF.jpg')}}"><br>
                        <input type="checkbox" name="sector" value="XLF" >
                        <label>Financial Sector</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="{{url_for('static', filename = 'XLI.jpg')}}"><br>
                        <input type="checkbox" name="sector" value="XLI" >
                        <label>Industrial Sector</label>
                    </td>
                    <td>
                        <img src="{{url_for('static', filename = 'XLK.jpg')}}"><br>
                        <input type="checkbox" name="sector" value="XLK" >
                        <label>Technology Sector</label>
                    </td>
                    <td>
                        <img src="{{url_for('static', filename = 'XLP.jpg')}}"><br>
                        <input type="checkbox" name="sector" value="XLP" >
                        <label>Consumer Staples Sector</label>
                    </td>
                    <td>
                        <img src="{{url_for('static', filename = 'XLRE.jpg')}}"><br>
                        <input type="checkbox" name="sector" value="XLRE" >
                        <label>Read Estate Sector</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="{{url_for('static', filename = 'XLU.jpg')}}"><br>
                        <input type="checkbox" name="sector" value="XLU" >
                        <label>Utilities Sector</label>
                    </td>
                    <td>
                        <img src="{{url_for('static', filename = 'XLV.jpg')}}"><br>
                        <input type="checkbox" name="sector" value="XLV" >
                        <label>Health Care Sector</label>
                    </td>
                    <td>
                        <img src="{{url_for('static', filename = 'XLY.jpg')}}"><br>
                        <input type="checkbox" name="sector" value="XLY" >
                        <label>Consumer Discretionary Sector</label>
                    </td>
                </tr>
            </table>
            <div class="center">
                <label>Your expected annual return</label>
                <input type="number" step="any" name="return"><br><br>
                <label>Number of stocks per sector</label>
                <input type="number" step="any" name="num">
                <input class = "button" type="submit">
            </div>

        </form>

    </body>
</html>